[user]
	email = dmitry.gladkov@gmail.com
	name = Dmitry Gladkov
[core]
	editor = vim
	excludesfile = ~/.gitignore
	autocrlf = input
[merge]
	tool = vimdiff
[alias]
	cpick = cherry-pick
	st = status
	ci = commit
	br = branch
	co = checkout
	df = diff
	dfch = diff --check
	dfc = diff --cached
	dfcch = diff --cached --check
	lol = log --graph --decorate --oneline --abbrev-commit
	lola = log --graph --decorate --oneline --abbrev-commit --all
	logp = log --date=short --pretty=format:'%h %ad | %s%d [%an]'
	unstage = reset HEAD
	type = cat-file -t
	dump = cat-file -p
	undopush = push -f origin HEAD^:master
[push]
	default = simple
