"*":
  "exception-reporting":
    userId: "ddd70832-24f6-8b0f-b18c-0e60b51f9a10"
  welcome:
    showOnStartup: false
  metrics:
    userId: "a6d4afc7-05f9-4d7d-b805-d10c4e33bb64"
  editor:
    fontFamily: "DejaVu Sans Mono"
    showInvisibles: true
    tabLength: 4
    showIndentGuide: true
    invisibles: {}
    fontSize: 14
  core:
    disabledPackages: [
      "welcome"
    ]
    themes: [
      "one-dark-ui"
      "monokai"
    ]
    projectHome: "/home/dgl/Projects"
  "linter-flake8":
    ignoreErrorCodes: [
      "E501"
      "E128"
    ]
  "tree-view":
    hideVcsIgnoredFiles: true
  linter: {}
  Zen:
    width: 200
  react: {}
  "atom-beautify":
    _analyticsUserId: "f25ebec3-d75d-4228-bea2-f692ddd4f374"
  "django-templates":
    defaultToDjangoTemplatesForFilePathsContaining: [
      "Projects"
    ]
  "linter-jsxhint": {}
